@use "sass:map";

@mixin base-input {
  background-color: #151b23;
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #3d444db3;
  @content;
  &:focus {
    background-color: #0d1117;
    border: 2px solid rgb(39, 68, 228);
    padding: 5px 9px;
    outline: none;
  }
}

@mixin base-button($width: 100%, $bg-color: #238636, $bg-hover: #1b662a, $bg-active: #165322) {
  text-align: center;
  padding: 8px 16px;
  background-color: $bg-color;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  color: white;
  width: $width;

  @content;
  &:hover {
    cursor: pointer;
    background-color: $bg-hover;
  }

  &:active {
    background-color: $bg-active;
  }
}

@mixin base-bg-and-border {
  background-color: #0d1117;
  border: 1px solid #3d444db3;
}

@mixin base-border {
  border: 1px solid #3d444db3;
}


@mixin base-bg-and-border-comment {
  background-color: rgb(21, 27, 35);
  border: 1px solid #3d444db3;
}

$breakpoints: (
  xs: 480px,
  sm: 768px,
  md: 1024px,
  lg: 1280px,
  xl: 1440px
);

@mixin adaptive($breakpoint) {
  @media (max-width: map.get($breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin moreAdaptive($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin base-blue-color {
  background-color: #1f6feb;
}
